<script setup lang="ts">
import { onMounted, ref } from 'vue'
import { Player } from '../data/player.model'
import { TicTacToeGame, TicTacToeGamePublicAPI } from '../use-cases/play-tictactoe-game/play-tictactoe-game'
import { boardInitialState } from '../data/board-initial-state'

const BOARD_MAPPING = [
    { row: 0, column: 0 },
    { row: 0, column: 1 },
    { row: 0, column: 2 },
    { row: 1, column: 0 },
    { row: 1, column: 1 },
    { row: 1, column: 2 },
    { row: 2, column: 0 },
    { row: 2, column: 1 },
    { row: 2, column: 2 },
]

const playerOne: Player = { name: 'Flora', sign: 'X' }
const playerTwo: Player = { name: 'Mila', sign: 'O' }

const boardState = ref(boardInitialState())

const displayedMessage = ref('Loading game...')
const infoDisplay = {
    displayMessage: (message: string) => {
        displayedMessage.value = message
    },
}

const handleSlotClick = (slot: { row: number; column: number }) => {
    gameContext.registerPlayerMove(slot.row, slot.column)
}

const showRestartButton = ref(false)

const restartButtonDisplayControls = {
    display: () => (showRestartButton.value = true),
    hide: () => (showRestartButton.value = false),
}

let gameContext: TicTacToeGamePublicAPI

const generateNewGameContext = (): TicTacToeGamePublicAPI => {
    boardState.value = boardInitialState()

    const board = { state: boardState.value }

    return TicTacToeGame({
        board,
        PlayerOne: playerOne,
        PlayerTwo: playerTwo,
        infoSpace: infoDisplay,
        restartButton: restartButtonDisplayControls,
        logger: console,
    })
}

const handleGameRestart = () => {
    gameContext = generateNewGameContext()
    gameContext.play()
}

onMounted(() => {
    gameContext = generateNewGameContext()
    gameContext.play()
})
</script>

<template>
    <article>
        <h1>My super TicTacToe!</h1>

        <div class="tictactoe-board" aria-label="This is the TicTacToe Board, where the game is played">
            <button
                v-for="(slot, index) in BOARD_MAPPING"
                v-bind:key="index"
                type="button"
                class="tictactoe-slot"
                @click="handleSlotClick(slot)"
            >
                {{ boardState ? boardState[slot.row][slot.column] : '' }}
            </button>
        </div>

        <p class="info-space">{{ displayedMessage }}</p>

        <button class="restart-btn" type="button" @click="handleGameRestart" v-if="showRestartButton">
            Restart the game
        </button>
    </article>
</template>

<style scoped>
.tictactoe-board {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 1px solid white;
    background: linear-gradient(to right, #0088ad, #000046);
}

.tictactoe-slot {
    min-width: 4.5rem;
    min-height: 4.5rem;
    padding: 1rem;
    border: 1px solid white;
    color: white;
    background: none;
    font-size: 2rem;
    cursor: pointer;
}

.info-space {
    font-size: 1.25rem;
}

.restart-btn {
    padding: 0.5rem 1rem;
    background-color: white;
    font-size: 1.125rem;
    color: linear-gradient(to right, #0088ad, #000046);

    border: linear-gradient(to right, #0088ad, #000046);
    border-radius: 0.5rem;
    cursor: pointer;
}
</style>
