<script setup lang="ts">
import { onMounted, ref } from 'vue'
import { boardInitialState } from '../data/board-initial-state'
import { TicTacToeGame } from '../use-cases/play-tictactoe-game/play-tictactoe-game'
import { Player } from '../data/player.model'

const slot = { row: 0, column: 0 }
const formRef = ref<EventTarget | null>(null)
const showRestartButton = ref(false)
const consoleMessages = ref<string[]>([])

const playerOne: Player = { name: 'Flora', sign: 'X' }
const playerTwo: Player = { name: 'Mila', sign: 'O' }

const infoDisplay = {
    displayMessage: (message: string) => {
        consoleMessages.value.push(message)
    },
}

const restartButtonDisplayControls = {
    display: () => (showRestartButton.value = true),
    hide: () => (showRestartButton.value = false),
}

let gameContext: ReturnType<typeof TicTacToeGame>

const generateNewGameContext = (): ReturnType<typeof TicTacToeGame> => {
    const boardState = boardInitialState()

    const board = { state: boardState }

    return TicTacToeGame({
        board,
        PlayerOne: playerOne,
        PlayerTwo: playerTwo,
        infoSpace: infoDisplay,
        restartButton: restartButtonDisplayControls,
        logger: console,
    })
}

const handlePositionSubmit = () => {
    gameContext.registerPlayerMove(slot.row, slot.column)
    consoleMessages.value.push(`USER INPUT: ${JSON.stringify(slot)}`)
}

const handleGameRestart = () => {
    gameContext = generateNewGameContext()
    gameContext.play()
}

onMounted(() => {
    gameContext = generateNewGameContext()
    gameContext.play()
})
</script>

<template>
    <article>
        <h1>My TicTacToe API simulator</h1>

        <form @submit.prevent="handlePositionSubmit" ref="formRef">
            <p class="form-paragraph">
                <label for="row">Row</label>
                <input
                    class="form-paragraph__input"
                    id="row"
                    type="number"
                    min="0"
                    max="2"
                    step="1"
                    v-model="slot.row"
                    placeholder="0"
                />
            </p>

            <p class="form-paragraph">
                <label for="column">Column</label>
                <input
                    class="form-paragraph__input"
                    id="column"
                    type="number"
                    min="0"
                    max="2"
                    step="1"
                    v-model="slot.column"
                    placeholder="0"
                />
            </p>
            <button class="btn" type="submit">Send the position</button>
        </form>

        <pre class="console-output">{{ [...consoleMessages] }}</pre>

        <button class="btn" type="button" @click="handleGameRestart" v-if="showRestartButton">Restart the game</button>
    </article>
</template>

<style scoped>
.form-paragraph {
    display: flex;
    gap: 0.5rem;
    font-size: 1.25rem;
}

.form-paragraph__input {
    padding: 0;
    font-size: 1rem;
}

.console-output {
    font-size: 1rem;
}

.btn {
    padding: 0.5rem 1rem;
    background-color: white;
    font-size: 1.125rem;
    color: linear-gradient(to right, #0088ad, #000046);

    border: linear-gradient(to right, #0088ad, #000046);
    border-radius: 0.5rem;
    cursor: pointer;
}
</style>
