<script setup lang="ts">
import TicTacToeBoard from './components/TicTacToe-Board.vue'
import TicTacToeAPI from './components/TicTacToe-API.vue'
</script>

<template>
    <TicTacToeBoard></TicTacToeBoard>
    <hr class="line-break" />
    <TicTacToeAPI></TicTacToeAPI>
</template>

<style>
html,
body {
    font-family: Arial, Helvetica, sans-serif;
}

.line-break {
    margin: 2rem 0;
}
</style>
